body{
    margin: 0;
    padding: 0;
}

    nav{
    display: flex;
    background-color: #1a1a1d;
    width: 100%;
    height: 20%;
    justify-content: space-between;
}
.navdroite{
    display: flex;
    justify-content: end;
}
img{
    margin: 15px;
    width: 10%;
}
header{
    background-color: #334d5c;
    height: 250px;

}
.pack{
    display: flex;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.pack>p{
    display: flex;
    align-items: center;
    color: white;
    margin-left:30%;
    font-size: 30px;
    margin-bottom: 20px;
}
.pack img{
    margin-left: 60px;
    margin-bottom: 20px;
    margin-top: 50px;
}
h1{
   
    color: white;
    height: 30px;
    text-align: center;
    font-size: xx-large;

}
.titre{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #334d5c;
    width: 480px;
    margin-left: 600px;
    width: 240px;
    height: 100px;
    margin-top: 30px;
}
.logotxt{
    display: flex;
    justify-content: center;
}
.logotxt>img{
    margin-right: 20%;
    
}
.logotxt>p{
    margin-top: 3%;
}
.logo{
    background-color:#eae3d6;
    width: 100%;
    justify-content: space-between;
    display: flex;

}
.livre{
    background-color:#eae3d6;
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.livre img{
    margin: 40px;
    
}
section:nth-child(3){
    display: flex;
    justify-content: ;
}
.carte{
    margin-left: 600px;
    width: 100%;
}
.footer1{
    display: flex;
    justify-content: space-around;
    background-color: #393a3b;
    width: 100%;
    height: 200px;
    color: white;
    margin-bottom: 10px;
    font-size: x-large;
    padding-left: 60px;
}

/* #eae3d6 */
/* #393a3b */